
export/test.lua
export/test.py
test.lua
__pycache__/data_checker.cpython-36.pyc
__pycache__/data_checker.cpython-38.pyc
templete/__pycache__/lua.cpython-36.pyc
templete/__pycache__/lua.cpython-38.pyc
*.pyc
*.lua
